################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LABRE_DIT 3-1 VSCODE/v17
/Clinic_Window_Form/obj/Debug/net8.0-windows/ref/Clinic_Window_Form.dll
