################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LABRE_DIT 3-1 VSCODE/v17
